<html>
<head>
    <title>Test</title>
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container" id='main-container'>
        <h1>Welcome to Find My Mine</h1>

        <form action="">
            <div class="form-group">
                    <label for="element-1">Name</label>
                    <input type="text" id="name" class="form-control">
            </div>

            <button id="join" type="button" class="btn btn-primary"> Join </button>

        </form>


    </div>

</body>

<script type="text/javascript" src='../javascripts/jquery.js'></script>
<script type="text/javascript" src='../bootstrap/dist/js/bootstrap.min.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src='../javascripts/main.js'></script>
</html>